@charset "UTF-8";

/* スマホ・tablet・PC ブレイクポイント*/
@import './mixin';

/* Colors*/
:root {
    --white: #ffffff;
    --black: #000000;
    --light-blue:#2498b3;
    --light-gray:#c3c3c3;
    --nav-bg-color:#d4f1f8;
    --nav-hov-bg-color:#e9f8fb;
    --nav-link-bg-sp-color:#f3fafb;
    --mirage:#131d34;
    --dark-gray:#121212;
    --btn-gray:#f7f7f7; /* "－"ボタンの背景*/
}

/*ハンバーガーボタンの中の線のサイズ*/
$btnWidth:50%;
$btnHeight:2px;

/* 共通 */
*, *::before,*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header,main,nav,section{
    display: block;
}

body{
    font-family: "Noto Sans JP",MyYuGothicM,YuGothic,-apple-system,BlinkMacSystemFont,"Hiragino kaku Gothic ProN",Meiryo,Verdana,arial,helvetica,sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;  
}

/* aタグ リンクの初期設定 */
a {
    text-decoration: none;

    &:link {
        color: var(--mirage);
    }

    &:visited {
        color: var(--mirage);
    }

    &:hover {
        color: var(--mirage);
    }

    &:focus {
        color: var(--mirage);
        outline: 0;
    }

    &:active {
        color: var(--mirage);
    }
}

/* ulタグの初期設定 */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
}

/* footer-box */
.footer-box {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #800080;
    background-color: #ffe4b5;
}

/* HEADER ロゴ ロゴ横文章 */
.header {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
        
    & &_title {
        width: 160px;
        margin-left: 10px;

        @include pc {
            margin-left: 21px;        
        }
        
        & p {
            margin-bottom: 0;
                
            a {
                color: var(--mirage);
                line-height: 1.3;
                height: 50px;
                font-weight: 900;
                display: flex;
                align-content: center;
                align-items: center;
                transition: .3s;

                @include pc {
                    height: 70px;        
                }
            }

            img {
                height: 30px;
                width: auto;

                @include pc {
                    height: 33px;        
                }
            }

            span {
                display: none;

                @include pc-xl {
                    display: inline-block;
                    margin-left: 16px;
                    font-size: 1.4rem;
                    white-space: nowrap;  /*これを入れたら2文字で改行せずに文字が横に広がった*/       
                }
            }

            strong {
                font-size: 1.8rem;
                font-weight: bolder;
            }
        }
    }
}

/* nav area */
.nav {
    font-weight: 700;
}

/* ハンバーガーボタン */
.nav_btn {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    position: relative;

    @include pc {
        display: none;
        margin-bottom: 0;        
    }
    
    &::before,
    &::after {
        content: "";
        width: $btnWidth;
        height: $btnHeight;
        background: var(--light-blue);
        position: absolute;
        left: calc( 50% - ( #{$btnWidth} / 2 ));
        display: block;
        transition: transform 0.2s;
    }

    &::before {
        top: 32%;
    }

    &::after {
        top: 68%;
    }

    > span {
        width: $btnWidth;
        height: $btnHeight;
        font-size: 0;
        background: linear-gradient( to right, var(--light-blue),var(--light-blue) ) repeat-x var(--light-blue);
        background-size: auto $btnHeight;
        position: absolute;
        left: calc( 50% - ( #{$btnWidth} / 2 ));
        top: 50%;
        transition: transform 0.2s;
    }

    &.is-open {
        background-color: var(--light-blue);

        &::before {
            transform: rotate( 45deg );
            top: 50%;
            background: var(--white);
        }

        &::after {
            transform: rotate( -45deg );
            top: 50%;
            background: var(--white);
        }

        > span {
            background: none;
        }
    }
}

/* メニュー */
.nav_area {
    /*display: none;*/
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;

    &.close {
        display: none;
    }

    @include pc {
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        left: auto;
        width: initial;
    }

    & ul {
        display: block;
        flex-direction: column;
        background: var(--white);

        @include pc {
            display: flex;
            flex-direction: row;
            height: 70px;
        }

        & li {
            position: relative;
            white-space: nowrap;
            transition: 1s;
            height: auto;

            @include pc {
                left: 0;
                display: block;
            }

            & a {
                display: block;
                padding: 10px;
                align-items: center;
                color: var(--mirage);
                font-weight: 700;
    
                @include pc {
                    display: flex;
                    padding: 0 10px;
                    height: 70px;
                    background-color: var(--white);
                    transition: .3s;
                }
    
                @include pc-md {
                    padding: 0 15px;
                }
               
                &:hover {
                    background-color: var(--nav-link-bg-sp-color);
    
                    @include pc {
                        background-color: var(--nav-bg-color);                
                    }
                }
    
                &:active {
                    background-color: var(--nav-link-bg-sp-color);
                    
                    @include pc {
                        background-color: var(--nav-bg-color);                
                    }
                }
            }

            &.nav-pc-only {
                display: none;
                
                @include pc {
                    display: block;
                        
                    & a {
                        background-color:var(--light-blue);
                        color: var(--white);
                        
                        &:hover {
                            background-color:var(--light-blue);
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }  
}



.menu-item-has-submenu {
  
    & > a {
        position: relative;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 24px;
            right: 13px;
            width: 24px;
            height: 2px;
            margin-top: -1px;
            background-color: var(--dark-gray);
            z-index: 10;

            @include pc {
                display: none;
            }
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 24px;
            right: 24px;
            width: 2px;
            height: 24px;
            margin-top: -12px;
            background-color: var(--dark-gray);

            @include pc {
                display: none;
            }
        }
    }

    &.open > a {
        /*position: relative;*/

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            width: 50px;
            height: 100%;
            margin-top: 0;
            background-color: var(--btn-gray);

           @include pc {
               display: none;
            }
        }
    }
}

/* サブメニュー */
ul.sub-menu {
    display: none;

    @include pc {
        display: none;
        position: absolute;
        flex-direction: column;

        &.close {
            display: none;
        }
    }

    & li {
        position: static;

        a {
            padding: 10px 10px 10px 25px;
            font-weight: 400;

            @include pc {
                position: relative;
                padding: 15px 60px 15px 15px;
                background-color: var(--nav-hov-bg-color);
                text-align: left;
                height: auto;   
                width: auto;           
            }
            
            &:hover {
                background-color: var(--nav-link-bg-sp-color);
    
                @include pc {
                    background-color: var(--white);
                    color: var(--light-blue);
                }
            }
    
            &:active {
                background-color: var(--nav-link-bg-sp-color);
                
                @include pc {
                    background-color: var(--white);
                    color: var(--light-blue);
                }
            }
        }
    }
}

/* main area */
.main {
    padding-top: 50px;        /*header の高さ スマホ50pxをとる*/

    @include pc {
        padding-top: 70px;     /*header の高さ PC70pxをとる*/
    }    
}

/*parallax ３枚画像*/
.parallax {
    background-image: url(../images/bg-hero3.png); /*3枚目のimage*/
    background-attachment: fixed;      /*3枚目のimageを固定*/
    background-position: center -25px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;                     /*スマホの高さ300px*/
    position: relative;
    padding-bottom: 320px;

    @include tablet {
        perspective: 30px;
        background-image: url(../images/bg-hero3.png);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;                 /*PCの高さ650px*/
        position: relative;
    }

    &_layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        @include tablet {
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    
    &_layer_front {
        background-image: url(../images/bg-hero1.png); /*1枚目のimage*/
        background-position: center -30px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 200;
        padding-top: 80px;

        @include tablet {
            transform: translateZ(0);
            background-position: center center;
            background-size: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 80px;
        }
    }

    &_layer_back {
        background-image: url(../images/bg-hero2.png);/*2枚目のimage*/
        top: -25px;
        /*background-position: center -25px;*/
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate3d(0px 0px 0px) ;
        z-index: 100;  
        
        @include tablet {
            top: -75px;
            height: auto;
            background-position: center top;
            /*background-position: center center;*/
            background-repeat: no-repeat;
            background-size: auto;
            /*transform: translateZ(-30px) scale(2.01);*/
        }       
    }

    &_box {
        width: 100%;
        max-width: 100%;
        background-color: var(--white);
        padding: 9px 0px 13px;
        text-align: center;
     
        @include tablet {
            width: auto;
            max-width: 530px;
            border-radius: 10px;
            padding: 43px 40px 19px;
        }

        &_title img { 
            display: none;
              
            @include tablet {
                display: inline-block; /*display：noneの解除*/
                width: 280px;
                height: auto;  
            }      
        }

        p {
            margin: .5em 0;
            font-size: 1.3rem;
            font-weight: 700;  

            @include tablet {
                margin: 1.3em 0 .5em;
                font-size: 1.6rem;
            }           
        }
    }
}

/* 中央のボタン */
.btn_middle {
    margin: .5em 0; 
    display: inline-block;

    @include tablet {
        margin: 1.5em 0 .5em; 
    } 
            
    a {
        background-color: var(--light-blue);
        border-radius: 4px; 
        color: var(--white);
        text-decoration: none;
        line-height: 1;
        padding: 12px 18px;
        font-size: 1.6rem;
        display: block;
        font-weight: 700;
        border: solid 1px var(--light-blue);
        transition: .3s;             /*ボタンのアニメーション*/

        @include tablet {
            padding: 24px 37px;
            font-size: 1.8rem;
            border: solid 1px var(--light-gray);
        }
    }
}
/*parallax-end*/

/* recommend 丸3個 */
.wrap {    
    margin: 0 auto;

    @include tablet {
        max-width: 1078px;      
    }
}

.sec-area {
    padding: 4em 0;
 }
 
.sec-bg-black {
     background: var(--black);
 }
 
.recommend {
    color: var(--white);
    padding: 0 10px;
    display: flex;
    flex-direction: column;   /*スマホ 縦並び*/
    align-items: center;      /*スマホ 位置は中央並び*/

    @include tablet {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;     /*PC 横並び*/
        margin-top: -263px;      /*PC 上のimageに重ねる*/
    }
     
    &__entry {
        width: auto;
        margin: 0 2%;
        margin-bottom: 2.5em;
        font-weight: 700;
       
        &:last-child {
            margin-bottom: 1em; /*最後のマルの絵・説明文の下のマージン高さを少し低くする*/
        }
                
        @include tablet {
            width: 30%;
            margin: 0 2%;
            align-self: stretch;    /*PC 横並びのマルの絵・タイトル・説明文の位置（高さ）を揃える-1個目の説明文が2行になるとタイトルと説明文の位置がずれていたのが治った。また3個目の上ズレも治った*/
        }

        @include tablet-lg {
            width: 229px;
            margin: 0 50px;
        }
    }   

    &__title {
        font-size: 2.4rem;
        text-align: center;  
        
        p {
            margin: .2em 0 0;        
        }
    }

    &__title &__icon {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin: 0 auto;
        width: 230px;
        height: 230px;    
        border: solid 6px var(--black) ;
        border-radius: 50%;
        background: var(--white);        
        font-size: 100px;
        color: var(--black);
    }   

    &__body {
        font-size: 1.6rem;
       
        p {
            margin: .5em 0 0 0;
        }
    }
}

/* recommend-end */
